@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

$border-radius: 5px;
$color-border: gray;
$color-main: gray;
$color-dark-background: rgb(46, 46, 46);
$color-digit-background: rgb(88, 88, 88);
$color-active-background: rgb(129, 129, 129);
$color-light-background: rgb(233, 233, 233);
$color-result-background: rgb(61, 168, 255);
$color-clear-background: rgb(255, 98, 98);
$color-text: white;
$color-display: lightgreen;
$color-display-background: $color-dark-background;

$width: 360px;

.body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    font-family: 'Tomorrow', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}

.container {
    max-width: $width;
    width: 90%;
    margin: 0 auto;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    background-color: $color-light-background;
}

.display {
    margin-top: 30px;
}

.display__field {
    font-family: 'Tomorrow', sans-serif;
    color: $color-display;
    font-size: 2em;
    background-color: $color-display-background;
    border: 1px solid $color-border;
    padding: 5px 10px;
    width: 90%;
    margin: 0 auto;
    text-align: right;
    border-radius: $border-radius;

}

.display__field--small {
    font-size: 1em;
}

.keyboard {
    margin: 30px auto;
}

.keyboard__container {
    margin: 0 auto;
    max-width: $width - 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.key {
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    // border: 1px solid $color-border;
    margin: 4px;
    border-radius: $border-radius;
    vertical-align: middle;
    background-color: $color-dark-background;
    
    p {
        margin: auto;
        text-align: center;
        // height: inherit;
        color: $color-text;
        font-size: 2em;
        display: block;
        cursor: pointer;
    }
    
    &:hover {
        
        background-color: $color-active-background;
    }
}

.digit {
    background-color: $color-digit-background;
    border-radius: 50%;
}

.clear-key {
    background-color: $color-clear-background;
    &:hover {
        background-color: lighten($color-clear-background, 10%);

    }
}

.res {
    background-color: $color-result-background;
        &:hover {
            background-color: lighten($color-result-background, 10%);
        
        }
}

